{% extends "parent_template.html" %}
{% block content %}
    <h1>Tag Cloud</h1>
    <input type="text" id="search" placeholder="Search tags...">
    <p id="tag-cloud">
        {% for tag, count in tags_counter.items() %}
            {% if count > 5 %}
                <strong><a href="topic/{{ tag }}.html" class="tag">{{ tag }}</a></strong>
            {% elif count > 1 %}
                <a href="topic/{{ tag }}.html" class="tag">{{ tag }}</a>
            {% else %}
                <small><a href="topic/{{ tag }}.html" class="tag">{{ tag }}</a></small>
            {% endif %}
        {% endfor %}
    </p>

    <h2>Freshly Added Blogs</h2>
    {% for entry in latest_entries %}
        <article id="article">
            <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
                <p>
                    {{ entry.description }}
                </p>
            <footer>
                {% for tag in entry.tags.split(',') %}
                    <small><a href="topic/{{ tag.strip() }}.html">{{ tag.strip() }}</a>{% if not loop.last %}, {% endif %}</small>
                {% endfor %}
            </footer>
        </article>
    {% endfor %}
{% endblock %}
{% block lower_body_script %}
<script>
    document.getElementById('search').addEventListener('input', function() {
        const query = this.value.toLowerCase();
        const tags = document.querySelectorAll('#tag-cloud .tag');

        if (query.length === 0) {
            tags.forEach(tag => {
                tag.style.display = '';
            });
        } else {
            tags.forEach(tag => {
                const tagName = tag.textContent.toLowerCase();
                if (tagName.includes(query)) {
                    tag.style.display = '';
                } else {
                    tag.style.display = 'none';
                }
            });
        }
    });
</script>
{% endblock %}