<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Software Engineering Blog Directory</title>
    <meta name="description" content="Discover active software engineering blogs.">
    <meta property="og:title" content="{{ title }} | Software Engineering Blog Directory">
    <meta property="og:description" content="Discover active software engineering blogs.">
    <meta property="og:image" content="https://sweblogs.fyi/imgs/sweblogs_banner.webp">
    <meta property="og:url" content="https://sweblogs.fyi/">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://sweblogs.fyi/css/pico.classless.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/imgs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon/favicon-16x16.png">
    <link rel="manifest" href="/imgs/favicon/site.webmanifest">
</head>
<body>
  <header>
      <hgroup>
        <h1 style="background: -webkit-linear-gradient(#7f54b1, #4aa6e7); -webkit-background-clip: text;  -webkit-text-fill-color: transparent;">SWE Blog Directory</h1>
        <p>Discover active software engineering blogs</p>
      </hgroup>
      <nav>
          <ul>
            <li><a href="https://sweblogs.fyi/">Home</a></li>
            <li><a href="https://sweblogs.fyi/new_posts.html">Latest posts</a></li>
            <li><a href="https://github.com/rtdev-com/swe-blog-directory" data-theme-switcher="dark">Contribute</a></li>
          </ul>
      </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>